name: "glitchtip-local"
description: "Genesis Glitchtip element"
schema_version: 1
version: "{{version}}"
api_version: "v1"

requirements:
  core:
    from_version: "0.0.0"

resources:
  $core.secret.passwords:
    genesis_glitchtip_pass:
      name: "glitchtip_secret_key"
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      constructor:
        kind: plain
      method: AUTO_HEX

    genesis_glitchtip_postgres_pass:
      name: "glitchtip_postgres_pass"
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      constructor:
        kind: plain
      method: AUTO_HEX

  $core.compute.nodes:
    genesis_glitchtip:
      name: "glitchtip"
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      cores: 2
      ram: 4096
      disk_spec:
        kind: root_disk
        size: 20
        image: http://10.20.0.1:8080/genesis-elements/{{ name }}/{{ version }}/images/genesis-glitchtip.raw.gz

  $core.config.configs:
    genesis_glitchtip_config:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      path: /etc/default/glitchtip.env
      target:
        kind: node
        node: $core.compute.nodes.$genesis_glitchtip:uuid
      body:
        kind: text
        content: |
          f"
          DATABASE_URL=postgres://postgres:{$core.secret.passwords.$genesis_glitchtip_postgres_pass:value}@postgres:5432/postgres
          VALKEY_URL=redis://valkey:6379
          SECRET_KEY={$core.secret.passwords.$genesis_glitchtip_pass:value}
          PORT=8000 # If changing, change the web service port too
          EMAIL_URL=consolemail:// # Example smtp://email:password@smtp_url:port https://glitchtip.com/documentation/install#configuration
          GLITCHTIP_DOMAIN=http://localhost:8000
          DEFAULT_FROM_EMAIL=email@example.com
          CELERY_WORKER_AUTOSCALE="1,3" # Scale between 1 and 3 to prevent excessive memory usage. Change it or remove to set it to the number of cpu cores.
          ENABLE_ORGANIZATION_CREATION=false
          ENABLE_USER_REGISTRATION=false
          ENABLE_SOCIAL_APPS_USER_REGISTRATION=true
          "

    genesis_glitchtip_postgres_config:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      path: /etc/default/glitchtip-postgres.env
      target:
        kind: node
        node: $core.compute.nodes.$genesis_glitchtip:uuid
      body:
        kind: text
        content: |
          f"
          POSTGRES_PASSWORD={$core.secret.passwords.$genesis_glitchtip_postgres_pass:value}
          "
